<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for API calls -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AevumHealth"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AevumHealth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.mentalwellness.MentalWellnessActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.nutrition.NutritionActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.aicompanion.AICompanionActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.aicompanionraw.AICompanionRawActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.dnaprofiling.DNAProfilingActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.smartjournal.SmartJournalActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.changepassword.ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
            
        <activity
            android:name=".ui.subscription.SubscriptionActivity"
            android:exported="false"
            android:theme="@style/Theme.AevumHealth" />
    </application>

</manifest>

